/* CoursesList.css */
.courses-list-container {
  margin-top: 50px;
  padding: 0 20px;
}

.search-input {
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.export-button {
  margin: 10px;
  background-color: #3b8d99;
  color: white;
  border: none;
}

.courses-table-container {
  margin-top: 30px;
  margin-right: 4rem; /* Move the table container 4rem to the right */
  overflow: hidden; /* Hide overflow on small screens */
  direction: rtl; /* Set the direction to right-to-left */
  text-align: left; /* Adjust text alignment for table headers and cells */
  
}

.courses-table {
  border: 2px solid #ccc;
  border-radius: 8px;
  overflow-x: scroll; /* Add horizontal scrolling */
}

.courses-table th,
.courses-table td {
  vertical-align: middle;
}

/* Additional responsive styles */
@media (max-width: 767px) {
  .courses-table-container {
    margin-right: 0; /* Reset margin-right for small screens */
    direction: ltr; /* Reset direction for left-to-right */
    text-align: center; /* Reset text alignment */
  }

  .courses-table {
    width: 100%;
    overflow-x: auto; /* Reset horizontal scrolling */
  }
  
}


.add-courses-section {
  /* display: flex; */
  padding: 1rem;
}


.form-label {
  display: block;
  margin-bottom: 0.5rem;
}

.form-input {
  width: 80%;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.add-courses-button {
  background-color: white;
  color: #66023b;
  position: relative;
  right:24.7rem;
  
}

.form-container {
  background-color: #d3e3e3;
  color: black;
  padding: 2rem;
  position: relative;
  right: 4.5rem;
  width: 29rem;
}

.form-container label {
  color: black ;
}

.image-container {
  margin-left: 2rem;
}

/* .course-image {
  width: 20rem;
  height: 20rem;
}
     */

  




     